.login {
  padding: 70px 120px;
  border-radius: 16px;
  background: #ffb900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-login {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(
      0deg,
      rgba(0, 60, 150, 0.95) 0%,
      rgba(0, 60, 150, 0.95) 100%
    ),
    url("/src/vendor/images/login.jpg"), lightgray 50%;
  background-size: cover;
}

.span {
  min-height: 40px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.login__welcome {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  line-height: 22px;
  max-width: 635px;
  text-align: center;
  margin: 0 auto;
}

.login__title-input {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding-bottom: 10px;
}

.elements__image {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50px;
  right: 50px;
  background: none;
  border: none;
  background-image: url("/src/vendor/images/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.login__paragraph {
  max-width: 394px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  margin: 0;
}

.login__info {
  color: #2c2a29;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-width: 395px;
  padding: 13px 12px;
  border-radius: 8px;
  background: var(--white, #fff);
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.login__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.login__button-save {
  color: #fff;
  margin-top: 10px;
  min-width: 395px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 14px 0;
  border-radius: 12px;
  background: #003c96;
  border: none;
}

.city-selector {
  position: relative;
}

.city-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 136px;
  overflow-y: scroll;
  z-index: 1;
  border-radius: 2px;
  background: var(--conditional-pop-over, #fff);
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}

.city-dropdown__name {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-top: 4px;
  background: var(--conditional-item-background-hover, #f5f5f5);
  color: rgba(0, 0, 0, 0.5);
}

.id-dropdown__name {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-top: 4px;
  background: var(--conditional-item-background-hover, #f5f5f5);
  color: rgba(0, 0, 0, 0.5);
}

.id-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 136px;
  overflow-y: scroll;
  z-index: 1;
  border-radius: 2px;
  background: var(--conditional-pop-over, #fff);
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}
