.container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input {
    width: 192px;
    padding: 4px 12px;
    border-radius: 8px;
    border: solid 1px #00000040;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    outline: none;
}