.section {
    display: flex;
    flex-direction: column;
    max-width: 312px;
    width: 100%;
    padding: 24px;
    background-color: #EEE;
    box-sizing: border-box;
}

.logo{
    max-width: 151px;
}