.section {
    display: flex;
    flex-direction: column;
    max-width: 312px;
    width: 100%;
    padding: 24px;
    background-color: #F2F8FF;
    box-sizing: border-box;
    flex-shrink: 0;
}

.logo{
    max-width: 151px;
}

.list{
    margin: 48px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 28px;
}