.container {
    display: flex;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}