.container {
    display: flex;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 24px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    align-items: center;
}

.button_excel {
    background-color: #003C96;
    border-radius: 4px;
    border: none;
    padding: 4px 15px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    opacity: 0.9;
}

.button_excel_type_blue {
    background-color:#C0D8FC;
    margin-right: 16px;
    opacity: 1;
    color: #001E64;
    display: flex;
    align-items: center;
}

.button__container {
display: flex;
}

.icon_chart {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}