.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    background: var(--table-1, #F4F7F9);
  }

  .table-revenue__name-container {
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid var(--divider, rgba(0, 0, 0, 0.06));
  }

  .table-revenue {
    width: 100%;
    border-collapse: collapse;
    text-align: start;
    height: 49px;
  }

  .table-item {
    width: 100%;
    border-collapse: collapse;
    text-align: start;
    background: #FCFDFE;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  .cell-name {
    color: #003C96;
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    padding-left: 12px;
    width: 240px;
    max-width: 240px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cell-item {
    color: #2C2A29;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    border-right: none;
    height: 57px;
  }

  .scrollable {
    overflow-y: auto;
    max-height: 500px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .cell-item__data {
    width: 96x;
    min-width: 96px;
    text-align: center;
    height: 57px;
    padding-left: 0;
  }

  .cell-item__data:nth-child(1) {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } 
  

  .cell-name:nth-child(1) {
    width: 32px;
    max-width: 32px;
  }

  .cell-name:nth-child(2) {
    width: 100px;
    max-width: 100px;
  }

  .cell-name:nth-child(6) {
    border-right: 1px solid var(--divider, rgba(0, 0, 0, 0.06));
  }

  /* .cell-name:nth-child(7) {
    width: 468px;
    max-width: 468px;
    border-right: none;
  }  */

  .cell-item__container {
    width: 468px;
    max-width: 468px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .checkbox {
    width: 16px;
    height: 16px;
    margin-top: 5px;
  }



  
  
  
  





