.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    border-bottom: 1px solid var(--divider, rgba(0, 0, 0, 0.06));
    background: var(--table-1, #F4F7F9);
    margin-top: 24px;

  }

  .table-revenue__name-container {
    text-align: left;
    vertical-align: middle;
  }

  .table-revenue {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: start;
  }

  .cell-name {
    color: #003C96;
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    width: 18%;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    padding-left: 12px;
    box-sizing: border-box;
  }

  .cell-name:nth-child(1) {
    width: 2.5%;
  }

  .cell-name:nth-child(2) {
    width: 6%;
  }

  .cell-name:last-child {
    width: 36%;
    border-right: none;
  }

  .checkbox {
    width: 16px;
    height: 16px;
    margin-top: 5px;
  }



  
  
  
  





